* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  h1 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 14px;
    font-weight: bold;
  }
  p{
     font-size: 14px;
  }
  .timestamp {
    font-size: 12px;
    color: #969696;
  }
}
